{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|markdown }}

    <hr>
    {# Shareing the post via email #}
    <p>
        <a href="{% url "blog:post_share" post.id %}">Share this post</a>
    </p>

    {# Similar Posts #}
    <h2>Similar posts</h2>
    {% for similar_post in similar_posts %}
        <p>
            <a href="{{ similar_post.get_absolute_url }}">{{ similar_post.title }}</a>
        </p>
    {% empty %}
        <h3>There is no similar posts yet.</h3>
    {% endfor %}

    <hr>
    {# For counting the number of comments #}
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
    {% endwith %}

    {# Old comments #}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

    {# New comment adding form #}
    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}

{% endblock %}